.heading{
    padding: 0% 1%;
}
.container {
    display: flex; 
    flex-flow: row wrap;
    .column{
        border: 1px solid #DEDEDE;
        border-radius: 5px;
        padding: 0% 1%;
        margin: 0% 1%;
        width: 45%;
    }
}